<div class="d-flex align-items-end" style="margin-top: 205px; padding-bottom: 8px;">
  <button type="" class="btn btn-cancel">Cancel</button>
  <button type="submit" class="btn btn-save">Save</button>
</div>