<nav id="navbar" class="navbar navbar-light bg-light d-flex flex-column p-0">
    <div class="container-fluid">
      <div class="d-flex justify-content-start">
        <img class="logo" src="/Rectangle_62.jpg" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
          aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation" style="border: 0ch;">
          <span class="navbar-toggler-icon" style="background-image:url(/fi_menu.svg);"></span>
        </button>
      </div>
      <div class="d-flex justify-content-end">
        <form id="form" class="d-flex align-self-center m-0 pe-2">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">Search</button>
        </form>
        <div class="dropdown">
          <button class="btn d-flex justify-content-between align-items-center flex-grow-1 me-0" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/Group_15.svg" style="width: 38px; height: 38px;" alt="">
            Unis Badri
            <img src="/Vector.svg" alt="">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          </ul>
        </div>
      </div>
    </div>
  </nav>

  