<section id="main-container">
  <section id="main" class="container">
    <div class="breadcrumb-list d-flex flex-row align-items-center">
      <h1 class="m-0">Car</h1>
      <img src="Vector_right.svg" style="height: 8px; width: 4px; margin: 0px;" alt="">
      <h1 class="m-0">List Car</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="m-0">List Car</h2>
      <a href="/cars/add-new-car" id="add-btn" class="btn btn-primary btn-lg d-flex justify-content-around"
        tabindex="-1" role="button" aria="true">
        <img src="fi_plus.svg" alt="">
        Add New Car
      </a>
    </div>
    <div style="margin-top: 24px;">
      <a class="btn btn-primary" href="#" role="button">All</a>
      <a class="btn btn-primary" href="#" role="button">Small</a>
      <a class="btn btn-primary" href="#" role="button">Medium</a>
      <a class="btn btn-primary" href="#" role="button">Large</a>
    </div>
  </section>

  <section class="container p-0">
    <div class="row d-flex justify-content-between align-content-between flex-wrap ms-0" id="hasil-pencarian">

      <% cars.forEach(function(car) { %>
        <div class="col-lg-4 p-2">
          <div class="card">
            <img src="<%- car.image %>" class="card-img-top" alt="...">
            <div class="card-body p-0" style="height:max-content;">
              <h2 class="card-title" style="font-size: 14px;">
                <%- car.type_name %>
              </h2>
              <h3 style="font-size: 16px;">Rp <%- car.rent_per_day %> / hari</h3>
              <div class="d-flex flex-row" style="margin-bottom: 24px; font-size: 14px;">
                <img src="fi_clock.svg" alt=""
                  style="width: 20px; height: auto; margin: 0 8px 0 0; color: #8A8A8A; font-size: 14px;">
                Updated at 4 Apr 2022, 09.00
              </div>
              <div class="d-flex flex-row">
                <a href="#deleteConfirmationModal" id="delete" data-bs-toggle="modal"
                  class="btn btn-primary d-flex align-items-center justify-content-center text-center">Delete</a>
                <a href="/cars/form-edit/<%= car.id %>" id="edit"
                  class="btn btn-primary d-flex align-items-center justify-content-center text-center">Edit</a>
              </div>
            </div>
          </div>
        </div>
        <!-- POP UP BOX -->
        <div class="modal fade" id="deleteConfirmationModal" aria-hidden="true"
          aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header d-flex flex-column">
                <img id="modal-img" src="img-BeepBeep.svg" alt="">
                <h5 class="modal-title" id="exampleModalToggleLabel">Menghapus Data Mobil</h5>
                <p class="text-center">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                <div class="d-flex flex-row mb-2">
                  <a class="btn btn-ya" href="/cars/delete/<%= car.id %>" onclick = "notificationAlert()" >Ya</a>
                  <a class="btn btn-tidak" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Tidak</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END POP UP BOX -->
      <% }) %>
    </div>
  </section>



</section>