<div id="side-bar" class="d-flex flex-column align-items-center">
    <img src="/Rectangle_63.svg" class="img-fluid" alt="...">
    <div class="side-bar-items">
      <div class="d-flex flex-column align-items-center justify-content-center" style="height: 70px; margin-top: 14px;">
        <img src="/fi_home.svg" alt="">
        <p>Dashboard</p>
      </div>
      <div type="button" class="d-flex flex-column align-items-center justify-content-center"
        style="height: 70px; margin-top: 7px;">
        <img src="/fi_truck.svg" alt="">
        <p>Cars</p>
      </div>
    </div>
  </div>

  <section id="sub-side-bar">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-body">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">CARS</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">List Car</a>
        </div>
      </div>
    </div>
  </section>