<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body style="background-color: #E5E5E5">

  <%- include('partials/side-bar') %>

    <%- include('partials/header') %>

      <div id="main-container">
        <section id="main">
          <div class="breadcrumb-add d-flex flex-row align-items-center">
            <h1 class="m-0">Car</h1>
            <img src="/Vector_right.svg" style="height: 8px; width: 4px; margin: 0px;" alt="">
            <h1 class="m-0">List Car</h1>
            <img src="/Vector_right.svg" style="height: 8px; width: 4px; margin: 0px;" alt="">
            <h1 class="m-0">Add New Car</h1>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">Add New Car</h2>
          </div>
        </section>

        <section id="input-box">
          <form method="post" action="/cars/create" class="m-0">
            <fieldset>
              <div class="sub-form">
                <label for="type_name" class="form-label d-flex flex-row">
                  Nama <p class="m-0" style="color: red;">*</p>
                </label>
                <input type="text" name="type_name" id="disabledTextInput" class="form-control" placeholder="Avanza">
              </div>
              <div class="sub-form">
                <label for="rent_per_day" class="form-label d-flex flex-row">
                  Sewa Per hari <p class="m-0" style="color: red;">*</p>
                </label>
                <input type="text" name="rent_per_day" id="disabledTextInput" class="form-control" placeholder="Rp 0,-">
              </div>
              <div class="sub-form">
                <label for="size" class="form-label d-flex flex-row">
                  Ukuran <p class="m-0" style="color: red;">*</p>
                </label>
                <select name="size" id="size" class="form-select">
                  <option >Small</option>
                  <option >Medium</option>
                  <option >Large</option>
                </select>
              </div>
              <div class="sub-form mb-0">
                <label for="image" class="form-label d-flex flex-row">
                  Foto <p class="m-0" style="color: red;">*</p>
                </label>
                <input type="text" name="image" id="disabledTextInput" class="form-control"
                  placeholder="https://placeimg.com/640/480/any">
              </div>
              <span id="passwordHelpInline" class="form-text" style="margin-top: 4px;">
                File size max. 2MB
              </span>
            </fieldset>
            <div class="d-flex align-items-end" style="margin-top: 205px; padding-bottom: 8px;">
              <button type="" class="btn btn-cancel">Cancel</button>
              <button type="submit" class="btn btn-save">Save</button>
            </div>
          </form>
        </section>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>