@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

html, body {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

/* ----------HEADER---------- */
#side-bar {
    position: fixed;
    z-index: 1;
    width: 70px;
    height: 902px;
    background-color: #0D28A6;
}

#side-bar .img-fluid {
    width: 34px;
    height: 34px;
    margin: 18px;
}

#side-bar img {
    width: 30px;
    height: 30px;
    margin: 4px;
}

#side-bar p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    text-align: center;

    color: #FFFFFF;
}

.logo {
    margin: 18px 120px 18px 24px;
}

.dropdown .btn {
    width: 170px;
}

#form .btn {
    background: #FFFFFF;

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #0D28A6;
}

#form .form-control {
    background: #FFFFFF;
    /* Neutral/02 */

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0;
}

#navbar .container-fluid {
    padding-right: 24px;
    padding-left: 94px;
}

#sub-side-bar {
    position: absolute;
    z-index: -1;
}

.offcanvas {
    width: 330px;
    padding-left: 90px;
    padding-top: 103px;
}

#list-example {
    border: 0px;
}

/* -----MAIN----- */
#main h1{
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Neutral/01 */

    color: #000000;
}

#main #add-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0D28A6;
    border-radius: 2px;
    width: 140px;
    height: 36px;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

#main a {
    /* Primary/DarkBlue/01 */

    background: #CFD4ED;
    /* Primary/DarkBlue/04 */

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    align-items: center;
    padding: 8px 12px;
    margin-right: 14px;
    width: max-content;

    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Primary/DarkBlue/04 */

    color: #0D28A6;
}

#main .breadcrumb-list {
    display: flex;
    justify-content: space-between;
    width: 91px;
    margin-bottom: 27px;
}

#main .breadcrumb-add {
    display: flex;
    justify-content: space-between;
    width: 188px;
    margin-bottom: 27px;
}

#main .breadcrumb-update {
    display: flex;
    justify-content: space-between;
    width: 244px;
    margin-bottom: 27px;
}

#main-container {
    margin-left: 329px; 
    background-color: #E5E5E5; 
    padding: 32px 12px; 
    height: max-content;
}

#main-container .btn-cancel{
    width: 69px;
    height: 36px;
    /* Neutral/10 */

    background: #FFFFFF;
    /* Primary/DarkBlue/04 */

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Primary/DarkBlue/04 */
    margin-right: 15px;
    color: #0D28A6;
}

#main-container .btn-save{
    width: 56px;
    height: 36px;
    /* Neutral/10 */

    background: #FFFFFF;
    /* Primary/DarkBlue/04 */

    background: #0D28A6;
    border-radius: 2px;

    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Primary/DarkBlue/04 */

    color: #FFFFFF;
}

/* -----HASIL PENCARIAN----- */
#hasil-pencarian {
    margin: 24px;
    padding: 0 5px;
}

#hasil-pencarian .card-img-top {
    width: auto;
    height: 160px;
    left: 16px;
    margin-top: 31px;
    margin-left: 5px;
    margin-bottom: 47px;
    align-self: center;
}

#hasil-pencarian .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 351px;
    height: 446px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

#hasil-pencarian h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

#hasil-pencarian h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

#hasil-pencarian p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 16px;
}

/* #hasil-pencarian .btn {
    width: 285px;
    height: 48px;
    background: #5CB85F;
    border-radius: 2px;
    margin: 24px 0 0 0;
} */

#hasil-pencarian a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

#delete {
    background: #FFFFFF;
    /* Allert/Danger */

    border: 1px solid #FA2C5A;
    box-sizing: border-box;
    border-radius: 2px;
    width: 143.5px;
    height: 48px;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Allert/Danger */

    color: #FA2C5A;
    margin-right: 16px;
}

#edit {
    background: #5CB85F;
    /* Allert/Danger */

    border: 1px solid #5CB85F;
    box-sizing: border-box;
    border-radius: 2px;
    width: 143.5px;
    height: 48px;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Allert/Danger */

    color: #FFFFFF;
}

/* -----INPUT BOX----- */
#input-box {
    background-color: #FFFFFF;
    padding: 16px;
    margin-top: 16px;
    margin-right: 20px;
    border-radius: 2px;
}

#input-box .sub-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

#input-box label {
    width: 147px;
    /* height: 18px; */
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    margin: 0;
}

#input-box input {
    width: 339px;
    height: 36px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Neutral/03 */

    color: #8A8A8A;
}

#input-box .form-select {
    width: 339px;
    height: 36px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Neutral/03 */

    color: #8A8A8A;
}

#input-box .form-text {
    margin-left: 148px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */


    /* Neutral/03 */

    color: #8A8A8A;
}

/*-----ALLERT----- */
#success-saving {
    position: absolute;
    width: 550px;
    height: 48px;
    left: 700px;
    top: 100px;

    
    background: #73CA5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Neutral/10 */

    color: #FFFFFF;
}

#success-saving {
    position: absolute;
    width: 550px;
    height: 48px;
    left: 700px;
    top: 100px;

    background: #151515;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Neutral/10 */

    color: #FFFFFF;
}

/* -----POP UP BOX----- */
.modal-content {
    /* padding: 24px 32px; */

    width: 387px;

    background: #FFFFFF;
}

.modal-header {
    /* padding: 24px 32px; */

    width: 387px;
    height: 333px;

    background: #FFFFFF;
}

.modal img {
    width: 153px;
    height: 121px;
}

.btn-ya {
    width: 87px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;

    margin-right: 16px;

    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral/10 */

    color: #FFFFFF; 
}

.btn-tidak {
    /* Neutral/10 */

    background: #FFFFFF;
    /* Primary/DarkBlue/04 */

    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
    width: 87px;
    height: 36px;

    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Primary/DarkBlue/04 */

    color: #0D28A6;
}

.modal-header h5 {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.modal-header p {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    /* or 143% */

    text-align: center;

    color: #000000;

}